<h1>Welcome to Video Game Rentals</h1>

<h2>Show All Users Or Create New User</h2>
<button><%= link_to "New User", new_user_path %> </button>
<button><%= link_to "Show Users", users_path %></button>


<h2>Show All Rentals 0r Create New Rental</h2>
<button><%= link_to "New Rental", new_rental_path %></button>
<button><%= link_to "Show Rentals", rentals_path %></button>


<h2>Show All Video Games or Create New Video Game</h2>
<button><%= link_to "New Video Game", new_videogame_path %></button>
<button><%= link_to "Show All Video Games", videogames_path %></button>
